<div class="d-flex">
    <app-sidebar-admin></app-sidebar-admin>
    <div class="content flex-grow-1 p-4">
        <div class="container mt-4">
            <h2>🔑 Modifier le Mot de Passe</h2>
          
            <div class="card mb-3">
              <div class="card-body">
                <h5>👤 Informations du Profil</h5>
                <p><strong>Nom d'utilisateur :</strong> {{ user?.username }}</p>
                <p><strong>Rôle :</strong> {{ user?.role }}</p>
              </div>
            </div>
          
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
              <div class="mb-3">
                <label class="form-label">🔑 Ancien Mot de Passe</label>
                <input type="password" class="form-control" formControlName="oldPassword" required>
              </div>
              <div class="mb-3">
                <label class="form-label">🔒 Nouveau Mot de Passe</label>
                <input type="password" class="form-control" formControlName="newPassword" required>
              </div>
              <div class="mb-3">
                <label class="form-label">🔄 Confirmer le Nouveau Mot de Passe</label>
                <input type="password" class="form-control" formControlName="confirmPassword" required>
              </div>
              <button type="submit" class="btn btn-primary">Mettre à Jour</button>
            </form>
          </div>
    </div>
  </div>
  











 
  